
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="border:1px solid black;">
    <h4>Tabulka akci</h4>
    @if (Model.Events.Count == 0)
    {
        <div>Neexistuje nadchazejici akce</div>
    }
    else
    {
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
            <th>Responsible</th>
        </tr>
        @for (int i = 0; i < Model.Events.Count; i++)
        {
            var events = Model.Events[i];
            int? cena = events.Cena;
            if (events.Cena == null)
            {
                cena = 0;
            }

            <tr>
                <td width="30%">@events.Nazev</td>
                <td width="30%">@cena.ToString()</td>
                <td width="30%">@events.Datum_konani.ToShortDateString()</td>
                <td width="30%">@events.Vedouci_vid.Jmeno</td>
            </tr>
        }
    </table>
    }
</div>

<div class="row" style="border:1px solid black;">
    <h4>Tabulka Vedoucich</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Contact</th>
        </tr>
        @for (int i = 0; i < Model.Leaders.Count; i++)
        {
            var events = Model.Leaders[i];

            <tr>
                <td width = "30%">@events.Jmeno</td>
                <td width = "30%">@events.Datum_narozeni.ToShortDateString()</td>
                <td width = "30%">@events.Kontakt</td>
            </tr>
        }
    </table>
</div>

<div class="row" style="border:1px solid black;">
    <h4>Tabulka schuzek</h4>
    <table>
        <tr>
            <th>Name</th>
            <th>Pocet Deti</th>
            <th>Den v tydnu</th>
            <th>Odpovedny vedouci</th>
        </tr>
        @for (int i = 0; i < Model.Scheduled.Count; i++)
        {
            var events = Model.Scheduled[i];
            string DenVTydnu = "";
            switch (events.Datum_konani)
            {
                case 1:
                    DenVTydnu = "Pondeli";
                    break;
                case 2:
                    DenVTydnu = "Utery";
                    break;
                case 3:
                    DenVTydnu = "Streda";
                    break;
                case 4:
                    DenVTydnu = "Ctvrtek";
                    break;
                case 5:
                    DenVTydnu = "Patek";
                    break;
                case 6:
                    DenVTydnu = "Sobota";
                    break;
                case 7:
                    DenVTydnu = "Nedele";
                    break;
                default:
                    break;
            }

            <tr>
                <td width = "30%">@events.Nazev</td>
                <td width="30%">@events.Pocet_Deti.ToString()</td>
                <td width = "30%">@DenVTydnu</td>
                <td width = "30%">@events.Vedouci_vid.Jmeno</td>
            </tr>
        }
    </table>
</div>
